@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear:wght@400');

.navbar{
    font-family: "Plus Jakarta Sans";
    color: white;
}

.main{
    color: white;
    font-family: "Preahvihear";

}

.Introduction_gradient{
    background: radial-gradient(50% 50.00% at 50% 50.00%, #763CAC 8.58%, rgba(50, 15, 133, 0.00) 100%);
    width: 385px;
    height: 431px;
}